[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.4.20"
pyodbc = "==4.0.31"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
