.container {
    padding: 1rem;
  }
  
.block-left {
  position:fixed;
  left:0;
  top:0;
  width:30%;
  height:100%;
  overflow:auto;
}

.block-right {
  position:fixed;
  right:0;
  top:0;
  width:70%;
  height:100%;
  overflow:auto;
}