{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Имя оператора</th>
            <th scope="col">Начало смены</th>
            <th scope="col">Конец смены</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records %}        
          <tr>
            <th scope="row">{{ user_name }}</th>
            <td>{{ record.start }}</td>
            <td>{{ record.end }}</td>
            <td>
              <form method="POST">
                <input type="submit" name="deactivate" value="Удалить" name="Hello">
              </form>
              
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
