{% extends 'base.html' %}
{% block content %}
<header class="p-0 bg-light text-dark">
  <div class="container">
    <form action="" method="POST">
    <div class="input-group">
      <input class="form-control" list="datalistOptions" name="operator" id="exampleDataList" placeholder="Начните вводить часть имени оператора...">
      <datalist id="datalistOptions" name="operator2">
        {% for user in users  %}
        <option value="{{ user.Name }}">
        {% endfor %}
        
      </datalist>
      <button type="submit" class="btn btn-outline-secondary">Найти</button>
    </div>
    </form>
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Дата</th>
            <th scope="col">Начало смены</th>
            <th scope="col">Конец смены</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
            {% if record.status == 1 %}
              <tr class="table-secondary">
            {% elif record.status == 2 %}
              <tr class="bg-success table-success">
            {% elif record.status == 3 %}
              <tr class="table-warning">
            {% elif record.status == 4 %}
              <tr class="table-danger">
            {% endif %}
              <th scope="row">{{ record.start.strftime('%d.%m.%Y') }}</th>
              <td>{{ record.start.strftime('%H:%M') }}</td>
              <td>{{ record.end.strftime('%H:%M') }}</td>
              <td>
                <form method="POST" action="{{ url_for('sv_cancel') }}">
                  <input type="hidden" name="record_id" value='{{ record.id }}'>
                  {% if record.status == 4 %}
                  <input type="submit" name="action" disabled value="Отменить">
                  {% elif record.status == 3 %}
                  <input type="submit" name="action" value="Подтвердить отмену">
                  {% elif record.status == 2 %}
                  <input type="submit" name="action" value="Отменить смену">
                  {% endif %}
                </form>
                <form method="POST" action="{{ url_for('sv_aprove') }}">
                  <input type="hidden" name="record_id" value='{{ record.id }}'>
                  {% if record.status == 1 %}
                  <input type="submit" name="action" value="Одобрить смену">
                  {% endif %}
                </form>                   
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}